




<form class="form-group" >
    <label>Nombre del producto</label>
    <input type="text" class="form-control col-md-3" placeholder="Ejem: Tornillos" id="name_product_id"/>
    <label>Descripción del producto</label>
    <textarea type="text" class="form-control col-md-3" placeholder="Ejem: Tornillos para camas" id="desc_product_id"></textarea>

    <button type="button" class="btn btn-success" id="add_product">Agregar producto</button>

</form>


@section scripts{
    <script src="~/js/product/product.js"></script>
}