


<form id="form" class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control col-md-3" name="name" id="name_id" placeholder="Nombre del cliente ejemp: Pablo" required />
        <label>Apellido</label>
        <input type="text" class="form-control col-md-3" id="last_name_id" placeholder="Apellido del cliente ejemp: Martinez" required />
        <label>Numero telefónico</label>
        <input type="tel"  class="form-control col-md-3" id="number_id" placeholder="Numero telefónico" />
        <br/>
        <input type="button" class="btn btn-success" id="add_client_id" value="Agregar" />
</form>
@section scripts{
    <script src="~/js/client/client.js"></script>
}